name: Rust

on:
  push:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-test:
    name: Build and test (${{ matrix.os }})

    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
      - uses: swatinem/rust-cache@v2
      - name: Clippy
        run: cargo clippy --all-targets
      - name: Build
        run: cargo build --locked --all-targets

      - name: Run tests (without coverage)
        run: cargo test --all-targets
